/* body {
  padding: 0;
  margin: 0;
  overflow: auto;
} */

#map {
  height: 850px;
  width: 500px;
  left: 5%;
}


.leaflet-popup-content {
  text-align: center;
}

/* CSS from the leaflet-choropleth documentation */

#bar {
  /* left: 30%; */
  height: 900px;
  width: 800px;
  /* margin: 5%; */
  /* bottom: 500px; */
  
}

#bubble {
  /* left: 60%; */
  height: 850px;
  width: 500px;
  /* bottom: 1000px; */
}




.panel-body {
  height: 100px
}
