/* body {
  padding: 0;
  margin: 0;
  overflow: auto;
} */

#map {
  /* position: relative; */
  height: 500px;
  width: 10%;
  left: 5%;
}

/* body,
html {
  height: 100%;
} */

.leaflet-popup-content {
  text-align: center;
}

/* CSS from the leaflet-choropleth documentation */

#bar {
  /* position: relative; */
  /* left: 30%; */
  width: 500px;
  height: 500px;
  /* margin: 5%; */
  /* bottom: 500px; */
  background-color: #f0f0f0;
  
}

#bubble {
  /* position: relative; */
  /* left: 60%; */
  height: 500px;
  width: 10%;
  /* bottom: 1000px; */
}

#col1 {
  background-color: red;
}

#col2 {
  background-color: green;
}

#col3 {
  background-color: blue;
}